node_modules
dist
dist-ssr
coverage
playwright-report
storybook-static
test-results
*.local
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
*.log
.vscode/*
!.vscode/extensions.json
.idea
eslint-results.json

*storybook.log
storybook-static
